In [10]:
import pandas as pd
import os
from utils.pipeline import retrieve_grade_reports, process_grades_columns, df_to_model

In [11]:
paths = os.listdir('../mlops/consolidados/')

In [14]:
{x:y for x,y in enumerate(paths)}

{0: 'consolidado_1002.xls',
 1: 'consolidado_1101.xls',
 2: 'consolidado_902.xls',
 3: 'consolidado_1004.xls',
 4: 'consolidado_1001.xls',
 5: 'consolidado_1003.xls',
 6: 'consolidado_1102.xls',
 7: 'consolidado_1103.xls'}

In [18]:
df_10_1_p1 = process_grades_columns(
        retrieve_grade_reports(
        inpath = '../mlops/consolidados/consolidado_1001.xls',
        final_student=81,
        period='P1'
        )['p1']
    ).rename(columns={"nat":"qui"})
df_10_1_p2 = process_grades_columns(
        retrieve_grade_reports(
        inpath = '../mlops/consolidados/consolidado_1001.xls',
        final_student=81,
        period='P2'
        )['p2']
    ).rename(columns={"nat":"qui"})

In [21]:
df_10_1 = df_to_model(input_dfs=[df_10_1_p1, df_10_1_p2])

In [22]:
df_10_1

,idx,codigo,nombre,period,lect,esp,mat,econ,ingl,qui,fis,filo,poli,ere,edufi,tecn,compo,performance,fundamental,band
0,0,2018.0,AGUILERA LOPEZ BREYNER SANTIAGO,P1,2.0,2.0,3.0,2.0,3.0,2.0,2.0,0.0,2.0,1.0,2.0,1.0,2.0,24.0,7.0,HIGH
2,2,2019.0,AMASO GARCIA YADI MILARIS,P1,3.0,2.0,3.0,1.0,3.0,1.0,2.0,0.0,2.0,1.0,3.0,1.0,2.0,24.0,8.0,HIGH
4,4,2022.0,BELTRAN VARON JHON ALEJANDRO,P1,1.0,1.0,3.0,2.0,3.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,2.0,25.0,5.0,HIGH
6,6,907.0,BONILLA LOPEZ ANDRES FELIPE,P1,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,3.0,0.0,2.0,18.0,4.0,MEDIUM
8,8,1226.0,BRICEÑO MARTINEZ SERGIO ANDRES,P1,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,18.0,4.0,MEDIUM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,72,1020.0,SANABRIA GRAJALES EDWAR ANDREY,P2,2.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,11.0,4.0,LOW
37,74,947.0,SUAREZ CASTAÑO NICOLL VALERIA,P2,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,21.0,5.0,MEDIUM
38,76,39.0,TRUJILLO CAMPOS JHOAN STIVEN,P2,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,19.0,5.0,MEDIUM
39,78,1213.0,WU RESTREPO DAVID JIAN CHENG,P2,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,3.0,22.0,5.0,MEDIUM
40,80,192.0,ZAMUDIO VEGA NICOLL MISHELL,P2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,5.0,0.0,LOW